/*.unlike-container, .like-container {
    height: 2.3rem;
}*/

.unlike-icon, .like-icon {
    height: 2rem;
    margin: 0 .5rem;
    color: cornflowerblue;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}