.error-404 {
    text-align: center;
    font-weight: 600;
    color: firebrick;
    margin: 15rem 0;
    
    @media (max-width: $desktop-breakpoint) {
        margin: 13rem 0;
    }

    & p {
        color: firebrick;
    }

    & a {
        color: $main-color;
    }
}